<div class="inline-block min-w-full overflow-hidden rounded-lg shadow">
  <table class="min-w-full leading-normal">
    <div class="text-center">
      <% if @cart.products.present? %>
        <h1>Cart empty.</h1>
      <% else %>
    </div>
    <body>
    <% @cart.cart_products.each do |item| %>
      <tr>
        <td class="px-5 py-5 text-sm bg-white">
          <div class="flex items-center">
            <div class="flex-shrink-0 w-10 h-10">
              <img class="w-full h-full rounded-full" src="https://www.pngwing.com/en/free-png-pyuaf" alt="" />
            </div>
            <div class="ml-3">
              <p class="text-gray-900 whitespace-no-wrap">
                <div class="text-lg "></div>
              </p>
            </div>
          </div>
        </td>
        <td class="px-5 py-5 text-sm bg-white">
          <p class="text-gray-900 whitespace-no-wrap"><%= item.product.name %></p>
        </td>
        <td class="px-5 py-5 text-sm bg-white">
          <p class="text-gray-900 whitespace-no-wrap"><%= item.quantity%></p>
        </td>
        <td class="px-5 py-5 text-sm bg-white">
          <p class="text-gray-900 whitespace-no-wrap"><%= number_to_currency(item.product.price)%></p>
        </td>
        <td class="px-5 py-5 text-sm bg-white">
          <p class="text-sm"><%= number_to_currency(item.total_price) %></p>
        </td>
        <td>
        <%= button_to "+", add_quant_path(item), method: :post%>
        </td>
        <td>
          <%= button_to "-", reduce_quant_path(item), method: :post%>
        </td>
        <td class="px-5 py-5 text-sm bg-white">
          <span class="relative inline-block px-3 py-1 font-semibold leading-tight text-red-500">
          <span aria-hidden="" class="absolute inset-0 bg-red-200 rounded-full opacity-50"></span>
          <span class="relative"><%= button_to "Delete item", destroy_item_path(item), method: :delete %></span>
          </span>
        </td>
        <% end %>
      </tr>
    <% end %>
    </body>
  </table>
</div>

