<div class="inline-block min-w-full overflow-hidden rounded-lg shadow">
  <table class="min-w-full leading-normal">
    <div class="text-center">
      <% if !@cart.products.present? %>
        <h1>Cart empty.</h1>
      <% else %>
      <%= link_to 'Order', categories_path, type: "button", class: "text-center text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"%>
      <p class="text-sm"><%= number_to_currency(@cart.sub_total) %></p>
      <h1 class="mb-1 text-lg font-bold"><%=  %></h1>
    </div>
    <thead>
      <tr>
        <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200"></th>
        <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200">
          Products
        </th>
        <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200">
          Quantity
        </th>
        <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200">
          Price
        </th>
        <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200">
          Total
        </th>
        <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200"></th>
        <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200"></th>
        <th class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200">
          Cancel
        </th>
      </tr>
    </thead>
    <tbody>
    <% @cart.cart_products.each do |item| %>
      <tr>
        <td class="px-5 py-5 text-sm bg-white">
          <div class="flex items-center">
            <div class="flex-shrink-0 w-10 h-10">
              <img class="w-full h-full rounded-full" src="https://www.pngwing.com/en/free-png-pyuaf" alt="" />
            </div>
            <div class="ml-3">
              <p class="text-gray-900 whitespace-no-wrap">
                <div class="text-lg "></div>
              </p>
            </div>
          </div>
        </td>
        <td class="px-5 py-5 text-sm bg-white">
          <p class="text-gray-900 whitespace-no-wrap"><%= item.product.name %></p>
        </td>
        <td class="px-5 py-5 text-sm bg-white">
          <p class="text-gray-900 whitespace-no-wrap"><%= item.quantity%></p>
        </td>
        <td class="px-5 py-5 text-sm bg-white">
          <p class="text-gray-900 whitespace-no-wrap"><%= number_to_currency(item.product.price)%></p>
        </td>
        <td class="px-5 py-5 text-sm bg-white">
          <p class="text-sm"><%= number_to_currency(item.total_price) %></p>
        </td>
        <td>
        <%= button_to "+", add_quant_path(item), method: :post%>
        </td>
        <td>
          <%= button_to "-", reduce_quant_path(item), method: :post%>
        </td>
        <td class="px-5 py-5 text-sm bg-white">
          <span class="relative inline-block px-3 py-1 font-semibold leading-tight text-red-500">
          <span aria-hidden="" class="absolute inset-0 bg-red-200 rounded-full opacity-50"></span>
          <span class="relative"><%= button_to "Delete item", destroy_item_path(item), method: :delete %></span>
          </span>
        </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

